.main {
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
  padding: 20px;
  &_wrapper {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 20px;
    align-items: flex-start;
  }
}
.chessBoard {
  // align-items: center;
  &_turn {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0px;
  }
  &_check {
    // color: rgb(211, 40, 40);
  }
  &_reverse {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
  }
  &_reset {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
  }
}
.rightSide {
  width: 50%;
  // flex-grow: 1;
  // width: 100%;
}
